<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/calc.css">
</head>
<body>
<h2>Calorie Calculator Form</h2>
<p>Fill in the form to get the calculated calories.</p>
<p>Lets get some info about you first.</p>

<form action="/calorie_calc" method="post">
<p>
    {{ calcform.weight.label }} {{ calcform.weight }} <br>
    {{ calcform.height.label }} {{ calcform.height }} <br>

    <input type="radio" name="options" id="option1"> Men
    <input type="radio" name="options" id="option2"> Women
</p>

</form>
</body>
</html>