<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
<h2>The Bill Form</h2>
<p>Fill the form to get the bill</p>
<hr>
<form action="/result_page" method="post">
    {{ billform.amount.label }} {{ billform.amount }}
    {{ billform.periods.label }} {{ billform.periods }}
    <hr>
    <p>Flatmate 1</p>
    {{ billform.name1.label }} {{ billform.name1 }}
    {{ billform.days_in_house_1.label }} {{ billform.days_in_house_1 }}
    <hr>
    <p>Flatmate 2</p>
    {{ billform.name2.label }} {{ billform.name2 }}
    {{ billform.days_in_house_2.label }} {{ billform.days_in_house_2 }}
    <hr>
    {{ billform.button }}
</form>
</body>
</html>